<div class="giscus"></div>

<script src="https://giscus.app/client.js"
        data-repo="celestialtaha/celestialtaha.github.io"
        data-repo-id="R_kgDOHUV4DA"
        data-category="Announcements"
        data-category-id="DIC_kwDOHUV4DM4Ch7ar"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
