---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}&nbsp;🔬
        </div>
      </Link>
      <nav class="flex items-center gap-3 text-sm">
        <Link href="/" class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7m-9 0v6m0 6h4m0-6v6" />
          </svg>
          home
        </Link>
        <span class="text-neutral-400">
          {`•`}
        </span>
        <Link href="/work" class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 7h8m-8 0V5a2 2 0 00-2-2H6a2 2 0 00-2 2v2m8 0v2m-8 0h8m0 0h2a2 2 0 012 2v10a2 2 0 01-2 2h-8a2 2 0 01-2-2V9a2 2 0 012-2h2z" />
          </svg>
          work
        </Link>
        <span class="text-neutral-400">
          {`•`}
        </span>
        <Link href="/research" class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.518 4.674a1 1 0 00.95.69h4.926c.969 0 1.371 1.24.588 1.81l-3.986 2.905a1 1 0 00-.364 1.118l1.518 4.674c.3.921-.755 1.688-1.54 1.118L12 17.77l-3.987 2.905c-.785.57-1.84-.197-1.54-1.118l1.518-4.674a1 1 0 00-.364-1.118L3.64 10.1c-.783-.57-.381-1.81.588-1.81h4.926a1 1 0 00.95-.69l1.518-4.674z" />
          </svg>
          research
        </Link>
        <span class="text-neutral-400">
          {`•`}
        </span>
        <Link href="/blog" class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 20v-2M6 8l2 2 4-4m4 4l2-2M6 16l2 2 4-4m4 4l2-2m-6 4h.01" />
          </svg>
          blog
        </Link>
        <span class="text-neutral-400">
          {`•`}
        </span>
        <Link href="/projects" class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14M5 12v-6a2 2 0 012-2h10a2 2 0 012 2v6M5 12v6a2 2 0 002 2h10a2 2 0 002-2v-6" />
          </svg>
          projects
        </Link>
        <span class="text-neutral-400">
          {`•`}
        </span>
        <button
          id="magnifying-glass"
          aria-label="Search"
          class="flex items-center rounded border border-black/15 bg-neutral-100 px-2 py-1 text-xs transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
        >
          <svg
            height="16"
            stroke-linejoin="round"
            viewBox="0 0 16 16"
            width="16"
            style="color: currentcolor;"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M3.5 7C3.5 5.067 5.067 3.5 7 3.5C8.933 3.5 10.5 5.067 10.5 7C10.5 7.88461 10.1718 8.69256 9.63058 9.30876L9.30876 9.63058C8.69256 10.1718 7.88461 10.5 7 10.5C5.067 10.5 3.5 8.933 3.5 7ZM9.96544 11.0261C9.13578 11.6382 8.11014 12 7 12C4.23858 12 2 9.76142 2 7C2 4.23858 4.23858 2 7 2C9.76142 2 12 4.23858 12 7C12 8.11014 11.6382 9.13578 11.0261 9.96544L14.0303 12.9697L14.5607 13.5L13.5 14.5607L12.9697 14.0303L9.96544 11.0261Z"
              fill="currentColor"></path></svg
          >
          &nbsp;Search
        </button>
      </nav>
    </div>
  </Container>
</header>

